name: CI Pipeline

on:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install Dependencies
      run: npm install
      working-directory: app

    - name: SonarQube Scan
      run: |
        sonar-scanner \
        -Dsonar.projectKey=project7 \
        -Dsonar.host.url=${{ secrets.SONAR_URL }} \
        -Dsonar.login=${{ secrets.SONAR_TOKEN }}

    - name: Trivy FS Scan
      run: trivy fs .

    - name: Docker Build
      run: docker build -t project7:${{ github.sha }} .

    - name: Trivy Image Scan
      run: trivy image project7:${{ github.sha }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password \
        | docker login \
        --username AWS \
        --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

    - name: Push Image
      run: |
        docker tag project7:${{ github.sha }} \
        ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/project7:${{ github.sha }}
        docker push \
        ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/project7:${{ github.sha }}

